@import '_variables.scss';
@import '_mixins.scss';

.modal {
    @include flex-center-col;
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: hsla(0,0,20,.9);
    font-family: $font-family;
    color: $font-main;
    font-weight: 100;

    &__info {
        @include flex-center-col;
        width: 60vw;
        max-width: 400px;
        background-color: $secondary-opacity;
        border: 1px solid $secondary-border;
        border-radius: 10px;
        padding: 20px;
        margin: 10px;

        h2 {
            font-weight: 100;
            margin-bottom: 20px;
        }
    }
}